* {
	font-size: 20px;
	font-family: 'Symbols Nerd Font', 'Roboto Mono', monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#idle_inhibitor,
#temperature,
#tray {
	background: #1a1a1a;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #1a1a1a;
	}
}


#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#disk {
	color: #b58900;
}

#network {
	color: #266CD1;
}

#idle_inhibitor {
	color: #7226D1;
}

#temperature {
	color: #859900;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#battery,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#idle_inhibitor,
#temperature,
#disk {
	padding: 0 10px;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}
